<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    {%- if site.author %}
      {% if site.author.name -%}
        <h2 class="p-name">{{ site.author.name | escape }}</h2>
      {% endif -%}
    {%- endif %}
    <div class="footer-col-wrapper">
      <section class="footer-col">
        <p>{{ site.description | escape }}</p>
      </section>
      <aside class="footer-col">
        <p>{{ site.disclaimer | escape }}</p>
      </aside>
    </div>
    <div class="social-links">
      {% comment %}
      {%- include social.html -%}
      {% endcomment %}
      <ul class="social-media-list"><li>
          <a rel="me" href="https://github.com/ianoxley" target="_blank" title="GitHub">
            <svg class="svg-icon grey">
              <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a rel="me" href="https://instagram.com/ianoxley" target="_blank" title="Instagram">
            <svg class="svg-icon grey">
              <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a rel="me" href="https://www.linkedin.com/in/ianoxley" target="_blank" title="LinkedIn">
            <svg class="svg-icon grey">
              <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a rel="me" href="https://mastodon.social/@ianoxley" target="_blank" title="Mastodon">
            <svg class="svg-icon grey">
              <use xlink:href="/assets/minima-social-icons.svg#mastodon"></use>
            </svg>
          </a>
        </li>
        <li>
          <a rel="me" href="https://stackoverflow.com/users/1904/ian-oxley" target="_blank" title="Stack Overflow">
            <svg class="svg-icon grey">
              <use xlink:href="/assets/minima-social-icons.svg#stackoverflow"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
